<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body class="container">
    <header class="header">Travel Planner</header>

    <main>
      <section class="section form-section">
        <form id="form">
          <div class="input-group">
            <label for="city">The city you want to go:</label>
            <input
              required
              id="city"
              type="text"
              placeholder="input the city"
            />
          </div>
          <div class="input-group">
            <label for="departing">Departing date</label>
            <input required type="date" name="departing" id="departing" />
          </div>
          <button class="btn-submit" type="submit" name="">Submit</button>
        </form>
      </section>

      <section id="plan" class="section" style="display: none">
        <strong class="section-header">Your plan:</strong>
        <div class="content">
          <div class="image">
            <img
              src="#"
              alt="Image for the place you will go"
              class="place-image"
            />
          </div>

          <div>
            Your trip to:
            <b><span class="city-display"></span></b>&nbsp;on
            <b class="departing-date-display"></b>
            only has:&nbsp;
            <i class="day-left"></i>
            &nbsp;days left
          </div>
          <div class="weather">
            <strong>Here is the weather forecast:</strong>
            <ul class="weather-list"></ul>
          </div>
        </div>
      </section>
    </main>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          const registration =
            navigator.serviceWorker.register("/service-worker.js");
          if (registration.installing) {
            console.log("Service worker installing");
          } else if (registration.waiting) {
            console.log("Service worker installed");
          } else if (registration.active) {
            console.log("Service worker active");
          }
        });
      }
    </script>
  </body>
</html>
