<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>Travel Planner</header>

    <main>
      <section>
        <form id="form">
          <div class="input-group">
            <label for="city">The city you want to go:</label>
            <input
              required
              id="city"
              type="text"
              placeholder="input the city"
            />
          </div>
          <div class="input-group">
            <label for="departing">Departing date</label>
            <input type="date" name="departing" id="departing" />
          </div>
          <input required type="submit" name="" value="submit" />
        </form>
      </section>

      <section id="plan" style="display: none">
        <strong>Your plan:</strong>
        <div>
          <img
            src="#"
            alt="Image for the place you will go"
            class="place-image"
          />

          <div>
            Your trip to:
            <span class="city-display"></span>&nbsp;on
            <b class="departing-date-display"></b>
            only has:&nbsp;
            <i class="day-left"></i>
            &nbsp;days left
          </div>
          <div class="weather">
            Here is the weather forecast:
            <ul class="weather-list"></ul>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          const registration =
            navigator.serviceWorker.register("/service-worker.js");
          if (registration.installing) {
            console.log("Service worker installing");
          } else if (registration.waiting) {
            console.log("Service worker installed");
          } else if (registration.active) {
            console.log("Service worker active");
          }
        });
      }
    </script>
  </body>
</html>
