<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form id="form">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="Name"
          />
          <input type="submit" name="" value="submit" />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          const registration =
            navigator.serviceWorker.register("/service-worker.js");
          if (registration.installing) {
            console.log("Service worker installing");
          } else if (registration.waiting) {
            console.log("Service worker installed");
          } else if (registration.active) {
            console.log("Service worker active");
          }
        });
      }
    </script>
  </body>
</html>
